<div
  class="wa-spark-simple-button"
  id="{{ __SELF__.id }}"
  data-wa="{{ __SELF__.waNumber }}"
  data-message="{{ __SELF__.message }}"
  style="{{ __SELF__.style }}"
>
  <img src="/plugins/empu/waspark/assets/img/whatsapp.svg" alt="WA" onerror="this.src='/plugins/empu/waspark/assets/img/whatsapp.png'">
  <span>{{ __SELF__.buttonText }}</span>
</div>
