.wa-spark-simple-button {
    padding: 5px 10px;
    /* border: 2px solid #fff; */
    border-radius: 22px;
    background: rgb(88,211,100);
    background: linear-gradient(180deg, rgba(88,211,100,1) 0%, rgba(33,180,57,1) 100%);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.wa-spark-simple-button:hover {
    background: rgba(33,180,57,1);
}
.wa-spark-simple-button > img {
    margin-right: 6px;
}
.wa-spark-simple-button > span {
    font-size: 15px;
    color: white;
    font-weight: bold;
}
